@model ProductCreateViewModel


<head>
    <style>
        .begining {
            display: inline;
            position: relative;
            left: 550px;
            font-weight: normal;
            font-size: 30px;
            letter-spacing: 3px;
        }

        .name label {
            position: relative;
            left: 550px;
            top: 40px;
            font-size: 19px;
            letter-spacing: .15em;
        }

        .name input {
            position: relative;
            left: 470px;
            top: 100px;
            margin-top: 2px;
            padding-top: 1px;
            padding-bottom: 2px;
            font-size: 1.4rem;
            line-height: 1.4;
            border: 0;
            border: 1px solid #CCC;
            border-radius: 10px;
            max-width: 100%;
            width: 500px;
            font-family: CriqueGrotesk,Helvetica,Arial,sans-serif;
            font-weight: 400;
            outline: none;
            background: rgba(0,0,0,0);
            color: inherit;
            padding: 3px 30px;
            -webkit-transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
            -webkit-appearance: none;
        }

        .price label {
            position: relative;
            left: 550px;
            top: 130px;
            font-size: 19px;
            letter-spacing: .15em;
        }

        .price input {
            position: relative;
            left: 480px;
            top: 180px;
            margin-top: 2px;
            padding-top: 1px;
            padding-bottom: 2px;
            font-size: 1.4rem;
            line-height: 1.4;
            border: 0;
            border: 1px solid #CCC;
            border-radius: 10px;
            max-width: 100%;
            width: 500px;
            font-family: CriqueGrotesk,Helvetica,Arial,sans-serif;
            font-weight: 400;
            outline: none;
            background: rgba(0,0,0,0);
            color: inherit;
            padding: 3px 30px;
            -webkit-transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
            -webkit-appearance: none;
        }

        .description label {
            position: relative;
            left: 550px;
            top: 220px;
            font-size: 19px;
            letter-spacing: .15em;
        }

        .description input {
            position: relative;
            left: 420px;
            top: 270px;
            margin-top: 2px;
            padding-top: 1px;
            padding-bottom: 2px;
            font-size: 1.4rem;
            line-height: 1.4;
            border: 0;
            border: 1px solid #CCC;
            border-radius: 10px;
            max-width: 100%;
            width: 500px;
            font-family: CriqueGrotesk,Helvetica,Arial,sans-serif;
            font-weight: 400;
            outline: none;
            background: rgba(0,0,0,0);
            color: inherit;
            padding: 3px 30px;
            -webkit-transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
            -webkit-appearance: none;
        }

        .category {
            display: inline;
            position: relative;
            left: 550px;
            top: 300px;
            font-size: 19px;
            letter-spacing: .15em;
            font-weight: normal;
        }

        .coat {
            display: inline;
            position: relative;
            top: 330px;
            left: 550px;
        }

        .puffer {
            display: inline;
            position: relative;
            top: 330px;
            left: 830px;
        }

        .jacket {
            position: relative;
            top: 330px;
            left: 530px;
            display: inline;
        }

        .jeans {
            position: relative;
            top: 330px;
            left: 580px;
            display: inline;
        }

        .tshirt {
            display: inline;
            position: relative;
            top: 330px;
            left: 750px;
        }

        .other {
            display: inline;
            position: relative;
            top: 330px;
            left: 800px;
        }

        .image label {
            position: relative;
            top: 380px;
            left: 550px;
            font-size: 19px;
            letter-spacing: .15em;
        }

        .image input {
            position: relative;
            top: 420px;
            left: 480px;
        }

        .button button {
            position: relative;
            top: 499px;
            left: 800px;
            -moz-user-select: "none";
            -ms-user-select: "none";
            -webkit-user-select: "none";
            user-select: "none";
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-color: #000;
            color: #fff;
            display: inline-block;
            width: 220px;
            min-height: 3rem;
            /* max-width: 100%; */
            text-decoration: none;
            text-align: center;
            vertical-align: middle;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: .15em;
            padding: 0 2rem;
            text-transform: uppercase;
            /* -webkit-transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1); */
            transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
            border: none;
            /* min-width: 21rem; */
            cursor: pointer;
            margin-bottom: 500px;
        }
    </style>
</head>

<div class="mt-3 mb-5">
    <h1 class="text-center begining">Create Product</h1>
    <form class="mx-auto half-width" method="post" asp-controller="Products" asp-action="Create" enctype="multipart/form-data">
        <div class="form-group name">
            <label asp-for="Name"></label>
            <input type="text" class="form-control" id="name" placeholder="Name..." asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group price">
            <label asp-for="Price"></label>
            <input type="number" class="form-control" id="price" placeholder="Price..." asp-for="Price">
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group description">
            <label asp-for="Description"></label>
            <input type="text" class="form-control" id="description" placeholder="Description..." asp-for="Description">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <h4 class="text-center category">Category</h4>
        <div class="product-type-holder mt-4 d-flex justify-content-around">
            <div class="form-check form-check-inline coat">
                <input class="form-check-input" type="radio" name="category" id="coat" value="Coat" asp-for="@Model.Category" enabled>
                <label class="form-check-label" for="coat">Coat</label>
            </div>
            <div class="form-check form-check-inline puffer">
                <input class="form-check-input" type="radio" name="category" id="puffer" value="puffer" asp-for="@Model.Category" enabled>
                <label class="form-check-label" for="puffer">Puffer</label>
            </div>
            <div class="form-check form-check-inline jacket">
                <input class="form-check-input" type="radio" name="category" id="jacket" value="Jacket" asp-for="@Model.Category" enabled>
                <label class="form-check-label" for="jacket">Jacket</label>
            </div>
            <div class="form-check form-check-inline jeans">
                <input class="form-check-input" type="radio" name="category" id="jeans" value="Jeans" asp-for="@Model.Category" enabled>
                <label class="form-check-label" for="jeans">Jeans</label>
            </div>
            <div class="form-check form-check-inline tshirt">
                <input class="form-check-input" type="radio" name="category" id="tshirt" value="Tshirt" asp-for="@Model.Category" enabled>
                <label class="form-check-label" for="tshirt">T-Shirt</label>
            </div>
            <div class="form-check form-check-inline other">
                <input class="form-check-input" type="radio" name="category" id="other" value="Other" asp-for="@Model.Category" enabled>
                <label class="form-check-label" for="other">Other</label>
            </div>
        </div>
        <div class="form-group image">
            <label asp-for="Image" class="control-label"></label>
            <input class="form-control" id="image" asp-for="Image">
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="button-holder mt-2 d-flex justify-content-center button">
            <button type="submit" class="btn">Create</button>
        </div>
    </form>
</div>