@model ProductDetailsViewModel;
@using Microsoft.Extensions.Options
@inject IOptions<StripeConfig.StripeSettings> Stripe

<div class="mt-3 mb-5">
    <h1 class="text-center">@Model.Name</h1>
    <div class="product-type-holder half-width mx-auto d-flex justify-content-between">
        <h3 class="text-center">Category: @Model.Category</h3>
        <h3 class="text-center">Price: $@Model.Price.ToString("F2")</h3>
    </div>
    <h3 class="text-center">Description</h3>
    <div class="product-description-holder">
        @if (Model.Description == null)
        {
<p class="text-center mt-4">
    No description
</p> }
            else
            {
<p class="text-center mt-4">
    @Model.Description
</p>            }

    </div>
    <div class="product-description-holder">
        <img src="~/Images/@Model.ImageUrl" />
    </div>
    <h3 class="text-center">Actions</h3>
    <div class="product-action-holder mt-4 half-width mx-auto d-flex justify-content-around">
        @*<a asp-controller="Orders" asp-action="Order" asp-route-id="@Model.Id" class="btn">Order</a>*@
        <form asp-controller="Orders" asp-action="Order" asp-route-id="@Model.Id" method="POST">
            <script src="https://checkout.stripe.com/v2/checkout.js"
                    class="stripe-button"
                    data-key="@Stripe.Value.PublishableKey"
                    data-amount="@Model.Price * 100"
                    data-name="[Aurora-Shop]"
                    data-description="Sample Charge"
                    data-locale="auto"
                    data-label="Order">
            </script>
            <script>
                // Hide default stripe button, be careful there if you
                // have more than 1 button of that class
                document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
            </script>
            <button type="submit" class="btn">Order</button>
        </form>
        @if (this.User.IsInRole("Admin"))
        {
                <a asp-controller="Products" asp-action="Edit" asp-route-id="@Model.Id" class="btn">Edit</a>
                <a asp-controller="Products" asp-action="Delete" asp-route-id="@Model.Id" class="btn">Delete</a>
        }
    </div>
</div>