@model ProductDetailsViewModel

<div class="mt-3 mb-5">
    <h1 class="text-center">@Model.Name</h1>
    <hr class="hr-2 bg-dark" />
    <div class="product-type-holder half-width mx-auto d-flex justify-content-between">
        <h3 class="text-center">Category: @Model.Category</h3>
        <h3 class="text-center">Price: $@Model.Price.ToString("F2")</h3>
    </div>
    <hr class="hr-2 bg-dark" />
    <h3 class="text-center">Description</h3>
    <div class="product-description-holder">
        @if (Model.Description == null)
        {
<p class="text-center mt-4">
    No description
</p> }
            else
            {
<p class="text-center mt-4">
    @Model.Description
</p>            }

    </div>
    <div class="product-description-holder">
        <img src="~/Images/@Model.ImageUrl" />
    </div>
    <hr class="hr-2 bg-dark" />
    <h3 class="text-center">Actions</h3>
    <div class="product-action-holder mt-4 half-width mx-auto d-flex justify-content-around">
        <a asp-controller="Orders" asp-action="Order" asp-route-id="@Model.Id" class="btn">Order</a>

        @if (this.User.IsInRole("Admin"))
        {
<a asp-controller="Products" asp-action="Edit" asp-route-id="@Model.Id" class="btn">Edit</a>
                <a asp-controller="Products" asp-action="Delete" asp-route-id="@Model.Id" class="btn">Delete</a>}
    </div>
</div>