@using AS.Web.Models
@model ProductCategorizedHomeViewModel

<head>

    <style>

        .first h2 {
            display: inline;
            position: relative;
            left: 500px;
            color: black;
            font-weight: normal;
            letter-spacing: 3px;
        }

        .first h4.enjoy {
            display: inline;
            position: relative;
            left: 170px;
            top: 50px;
            font-weight: normal;
            letter-spacing: 3px;
        }

        .first h4.products {
            font-weight: normal;
            letter-spacing: 3px;
            display: inline;
        }


        div.gallery {
            margin: 5px;
            border: 1px solid #ccc;
            float: left;
            width: 180px;
            height: 300px;
        }

            div.gallery:hover {
                border: 1px solid #777;
            }

            div.gallery img {
                width: 100%;
                height: 50%;
            }

        div.desc {
            padding: 15px;
            text-align: center;
        }

        /*.imageP {
            width: 300px;
            height: 200px;
        }*/

        .all {
            position: relative;
            top: 140px;
            left: 100px;
        }

        .products {
            display: inline;
            position: relative;
            top: 100px;
            left: -70px;
            /* text-decoration: none; */
            /* font-weight: normal; */
            letter-spacing: .1em;
            font-weight: bold;
            text-decoration: overline;
        }

        .gallery h5 {
            text-align: center;
            color: black;
            font-size: 15px;
            letter-spacing: 1.5px;
        }

        .gallery h6 {
            text-align: center;
            color: black;
            font-size: 15px;
            letter-spacing: 1.5px;
        }

        .pagination {
            position: relative;
            top: 80px;
            right: 280px;
        }

        #page-item {
            display: inline-block;
            margin-right: 40px;
        }

        .page-link {
            text-decoration: none;
            color: black;
            font-size: 22px;
            text-decoration-line: underline;
        }



    </style>


</head>


<div class="mt-3 mb-5">
    <div class="container-fluid text-center first">
        <h2 class="welcome">Welcome, @this.User.Identity.Name!</h2>
        @if (this.User.IsInRole("Admin"))
        {
<h4 class="enjoy">Enjoy your work today!</h4>
                @if (Model != null)
                {
<h4 class="products allProducts">Here you can see all @Model.Products.First().CategoryName products</h4>} }
                            else
                            {
                @if (Model != null)
                {
    <h4 class="products">Here you can see all @Model.Products.First().CategoryName products</h4> }
                else
                {
    <h4>We are sorry, our@Model.Products.First().CategoryName products are sold</h4>}}
    </div>
        <div class="container-fluid product-holder">
            <div class="container-fluid product-holder all">
                @if (Model != null)
                {
                    @foreach (ProductCategorizedViewModel product in Model.Products)
                    {
                        <div class="row d-flex justify-content-around mt-4">
                            <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="product col-md-2 rounded-top rounded-bottom px-3">
                                <div class="gallery">
                                    <img src="~/Images/@product.ImageUrl" width="300" height="200" />
                                    <h5 class="text-center mt-3">@product.Name</h5>
                                    <h6 class="text-center text-black-50 mb-3">$@product.Price.ToString("F2")</h6>
                                </div>
                            </a>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
@if (Model.Pager.PagesCount > 1)
{
    <ul class="pagination">
        @for (var i = 1; i <= Model.Pager.PagesCount; i++)
        {
            <li id="page-item" class="page-item @(i == Model.Pager.CurrentPage ? "active" : "")">
                <a asp-route-Pager.CurrentPage="@i" class="page-link">@i</a>
            </li>
        }
    </ul>
}