@model List<ProductHomeViewModel>

<div class="mt-3 mb-5">
    <div class="container-fluid text-center">
        <h2>Greetings, @this.User.Identity.Name!</h2>
        @if (this.User.IsInRole("Admin"))
        {
            <h4>Enjoy your work today!</h4>
        }
        else
        {
            <h4>Feel free to view and order any of our products.</h4>
        }
    </div>
    <hr class="hr-2 bg-dark" />
    <div class="container-fluid product-holder">
        <div class="container-fluid product-holder">
            @if (Model != null)
            {
                @for (int i = 0; i < Model.Count; i += 5)
                {
                    <div class="row d-flex justify-content-around mt-4">

                        @for (int j = 0; j < 5 && (i + j) < Model.Count; j++)
                        {
                            <a asp-controller="Products" asp-action="Details" asp-route-id="@Model[i + j].Id" class="product col-md-2 rounded-top rounded-bottom px-3">
                                <div>
                                    <h5 class="text-center mt-3">@Model[i + j].Name</h5>
                                    <hr class="hr-1 bg-white" />
                                    <p class="text-black text-center">
                                        @if (Model[i + j].Description != null)
                                        {
                                            @if (Model[i + j].Description.Length > 50)
                                            {
                                                @(Model[i + j].Description.Substring(0, 50) + "...")
                                            }
                                            else
                                            {
                                                @Model[i + j].Description
                                            }
                                        }
                                        else
                                        {
                                         <p class="text-center">This product has no description</p>
                                        }
                                    </p>
                                    <hr class="hr-1 bg-black" />
                                    <h6 class="text-center text-black-50 mb-3">$@Model[i + j].Price.ToString("F2")</h6>
                                </div>
                            </a>
                        }

                    </div>
                }
            }

        </div>
    </div>
</div>